.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  background-color: var(--brand-3);
  border: 1px solid var(--brand-7);
  border-radius: 2px;
  font-size: 0.8em;
  line-height: 1;
}

.tag span {
  padding: 0 8px;
}

.tag.active {
  color: var(--brand-1);
  background-color: var(--brand-9);
  border-color: var(--brand-9);
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  color: var(--brand-1);
}
