.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  background-color: var(--neutral-3);
  border-radius: 2px;
  font-size: var(--font-size-x-small);
  line-height: 1;
}

.tag span {
  padding: 0 8px;
}

.tag.active {
  color: var(--brand-1);
  background-color: var(--brand-9);
}
