.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  font-family: var(--base-font);
  font-size: var(--font-size-x-small);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  cursor: pointer;
}

.button.outline {
  box-shadow: inset 0 0 0 1px var(--brand-7);
  color: var(--brand-11);
}

.button.outline:hover,
.button.outline:focus-visible {
  box-shadow: inset 0 0 0 1px var(--brand-8);
  background-color: var(--brand-2);
}

.button.outline:focus-visible {
  outline: 1px solid var(--brand-7);
}

.button.ghost {
  color: var(--brand-11);
}

.button.ghost:hover {
  background-color: var(--brand-3);
}

.button.solid {
  background-color: var(--brand-9);
  color: var(--neutral-1);
}

.button.solid:hover {
  background-color: var(--brand-10);
}
