.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.label {
  display: block;
  font-size: var(--font-size-x-small);
  font-weight: var(--font-weight-bold);
  margin-right: 4px;
}

.clearButton {
  padding: 0 8px;
  height: 24px;
  font-size: var(--font-size-xx-small);
}
