.wrapper {
  padding: 32px;
  background-color: var(--neutral-2);
  border: 1px solid var(--neutral-3);
  border-radius: 4px;
  position: relative;
}

.category {
  display: inline-block;
  color: var(--neutral-11);
  font-size: var(--font-size-x-small);
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: var(--font-weight-bold);
}

.title {
  margin-bottom: 16px;
}

.actions {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.description {
  margin-bottom: 32px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.extra {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
}

@media only screen and (max-width: 960px) {
  .wrapper {
    padding: 16px;
  }

  .title {
    margin-bottom: 12px;
  }

  .actions {
    margin-bottom: 24px;
  }

  .extra {
    display: contents;
  }

  .description {
    margin-bottom: 24px;
  }
}
