.logo {
  position: fixed;
  display: flex;
  top: 16px;
  left: 16px;
  margin: 0 auto;
}

.topBar {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
