.wrapper {
  background-color: var(--neutral-2);
  border: 1px solid var(--neutral-3);
  border-radius: 4px;
  position: relative;
}

.section {
  padding: 32px;
}

.section:not(:last-child) {
  border-bottom: 1px solid var(--neutral-3);
}

.category {
  display: inline-block;
  color: var(--neutral-11);
  font-size: var(--font-size-x-small);
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: var(--font-weight-bold);
}

.title {
  margin-bottom: 16px;
}

.subTitle {
  margin-bottom: 4px;
}

.actions {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.bookmarkButton {
  position: absolute;
  top: 8px;
  right: 8px;
}

.criterion:not(:last-child) {
  margin-bottom: 32px;
}

.criterion a {
  text-decoration: none;
  color: var(--neutral-11);
  margin-right: 12px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.extra {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 48px;
  height: 40px;
}

@media only screen and (max-width: 960px) {
  .section {
    padding: 16px;
  }

  .title {
    margin-bottom: 12px;
  }

  .actions {
    margin-bottom: 24px;
  }

  .criterion:not(:last-child) {
    margin-bottom: 24px;
  }

  .extra {
    display: contents;
  }
}
