.infoLabel {
  margin-bottom: 16px;
  font-style: italic;
  color: var(--neutral-11);
}

.wrapper {
  display: grid;
  gap: 32px;
}

.showAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 960px) {
  .wrapper {
    gap: 16px;
  }
}
