.settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}

.filterPickers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.infoLabel {
  margin-bottom: 16px;
  font-style: italic;
  color: var(--neutral-11);
}

.guidelines {
  display: grid;
  gap: 32px;
}

@media only screen and (max-width: 960px) {
  .settings {
    margin-bottom: 32px;
  }

  .filterPickers {
    grid-template-columns: 1fr 1fr;
  }

  .guidelines {
    gap: 16px;
  }
}
