.settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}

.filterPickers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.infoLabel {
  display: block;
  margin-bottom: 16px;
  font-style: italic;
  color: var(--neutral-11);
}

.guidelines {
  display: grid;
  gap: 32px;
}
