.header {
  padding: 48px 64px;
  background-color: var(--neutral-2);
  border-bottom: 1px solid var(--neutral-3);
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  width: 720px;
  margin: 0 auto;
}

.globe {
  width: 96px;
  height: 96px;
}

.header h2 {
  color: var(--neutral-11);
}

.themeToggleWrapper {
  position: absolute;
  top: 16px;
  right: 16px;
}

@media only screen and (max-width: 960px) {
  .header {
    padding: 48px 16px;
  }

  .content {
    width: auto;
    flex-direction: column;
    text-align: center;
  }
}
