.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.checkboxRoot {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid var(--neutral-6);
  box-sizing: border-box;
}

.checkboxRoot:hover,
.checkboxRoot:focus-visible {
  background-color: var(--brand-2);
  border-color: var(--brand-8);
}

.checkboxRoot:focus-visible {
  outline: 1px solid var(--brand-7);
}

.checkboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--neutral-12);
}

.label {
  display: block;
  color: var(--neutral-12);
  font-size: 0.8em;
  line-height: 1;
}
