.table {
  width: 100%;
  border-spacing: 0;
}

.tableHeader {
  padding: 16px 32px;
  border-bottom: 1px solid var(--neutral-3);
}

.tableHeader:focus-visible {
  outline: 2px solid var(--neutral-12);
}

.tableHeader.sortable {
  user-select: none;
}

.tableHeader.sortable:hover {
  cursor: pointer;
  opacity: 0.7;
}

.tableHeaderContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.sortIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
}

.tableRow:nth-child(odd) {
  background-color: var(--neutral-2);
}

.tableData {
  padding: 32px;
  border-bottom: 1px solid var(--neutral-3);
}
