.main {
  margin: 48px 64px;
}

.content {
  width: 720px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
  .main {
    margin: 16px;
  }

  .content {
    width: auto;
  }
}
