body {
  --base-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --neutral-1: #fbfdfc;
  --neutral-2: #f7f9f8;
  --neutral-3: #eef1f0;
  --neutral-4: #e6e9e8;
  --neutral-5: #dfe2e0;
  --neutral-6: #d7dad9;
  --neutral-7: #cbcfcd;
  --neutral-8: #b8bcba;
  --neutral-9: #868e8b;
  --neutral-10: #7c8481;
  --neutral-11: #5f6563;
  --neutral-12: #1a211e;
  --brand-1: #fbfefd;
  --brand-2: #f4fbf7;
  --brand-3: #e6f7ed;
  --brand-4: #d6f1e3;
  --brand-5: #c3e9d7;
  --brand-6: #acdec8;
  --brand-7: #8bceb6;
  --brand-8: #56ba9f;
  --brand-9: #29a383;
  --brand-10: #26997b;
  --brand-11: #208368;
  --brand-12: #1d3b31;
}

body[data-theme="dark"] {
  --neutral-1: #101211;
  --neutral-2: #171918;
  --neutral-3: #202221;
  --neutral-4: #272a29;
  --neutral-5: #2e3130;
  --neutral-6: #373b39;
  --neutral-7: #444947;
  --neutral-8: #5b625f;
  --neutral-9: #63706b;
  --neutral-10: #717d79;
  --neutral-11: #adb5b2;
  --neutral-12: #eceeed;
  --brand-1: #0d1512;
  --brand-2: #121c18;
  --brand-3: #0f2e22;
  --brand-4: #0b3b2c;
  --brand-5: #114837;
  --brand-6: #1b5745;
  --brand-7: #246854;
  --brand-8: #2a7e68;
  --brand-9: #29a383;
  --brand-10: #27b08b;
  --brand-11: #1fd8a4;
  --brand-12: #adf0d4;
}

body {
  margin: 0;
  background-color: var(--neutral-1);
  color: var(--neutral-12);
  font-family: var(--base-font);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  min-width: fit-content;
}

h1 {
  font-size: 2.4em;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}

a {
  text-decoration: underline;
  color: inherit;
  outline: none;
}

a:focus-visible {
  outline: 2px solid var(--neutral-12);
}

input {
  font-family: var(--base-font);
  font-size: 0.8em;
}

button {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  font-family: var(--base-font);
  font-size: 0.8em;
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid var(--neutral-12);
}
