body {
  --neutral-1: #fcfcfc;
  --neutral-2: #f9f9f9;
  --neutral-3: #f0f0f0;
  --neutral-4: #e8e8e8;
  --neutral-5: #e0e0e0;
  --neutral-6: #d9d9d9;
  --neutral-7: #cecece;
  --neutral-8: #bbbbbb;
  --neutral-9: #8d8d8d;
  --neutral-10: #838383;
  --neutral-11: #646464;
  --neutral-12: #202020;
  --brand-1: #fbfefd;
  --brand-2: #f4fbf7;
  --brand-3: #e6f7ed;
  --brand-4: #d6f1e3;
  --brand-5: #c3e9d7;
  --brand-6: #acdec8;
  --brand-7: #8bceb6;
  --brand-8: #56ba9f;
  --brand-9: #29a383;
  --brand-10: #26997b;
  --brand-11: #208368;
  --brand-12: #1d3b31;
}

body[data-theme="dark"] {
  --neutral-1: #111111;
  --neutral-2: #191919;
  --neutral-3: #222222;
  --neutral-4: #2a2a2a;
  --neutral-5: #313131;
  --neutral-6: #3a3a3a;
  --neutral-7: #484848;
  --neutral-8: #606060;
  --neutral-9: #6e6e6e;
  --neutral-10: #7b7b7b;
  --neutral-11: #b4b4b4;
  --neutral-12: #eeeeee;
  --brand-1: #0d1512;
  --brand-2: #121c18;
  --brand-3: #0f2e22;
  --brand-4: #0b3b2c;
  --brand-5: #114837;
  --brand-6: #1b5745;
  --brand-7: #246854;
  --brand-8: #2a7e68;
  --brand-9: #29a383;
  --brand-10: #27b08b;
  --brand-11: #1fd8a4;
  --brand-12: #adf0d4;
}

body {
  background-color: var(--neutral-1);
  color: var(--neutral-12);
  margin: 0;
}

:root {
  min-width: fit-content;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--neutral-12);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 2.4em;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid var(--neutral-12);
}
