body {
  /* Fonts */
  --base-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Font sizes */
  --font-size-x-small: 0.8em;
  --font-size-small: 1em;
  --font-size-medium: 1.25em;
  --font-size-large: 1.563em;
  --font-size-x-large: 1.953em;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /* Colors */
  --neutral-1: #fbfdfc;
  --neutral-2: #f7f9f8;
  --neutral-3: #eef1f0;
  --neutral-4: #e6e9e8;
  --neutral-5: #dfe2e0;
  --neutral-6: #d7dad9;
  --neutral-7: #cbcfcd;
  --neutral-8: #b8bcba;
  --neutral-9: #868e8b;
  --neutral-10: #7c8481;
  --neutral-11: #5f6563;
  --neutral-12: #1a211e;
  --brand-1: #fbfefd;
  --brand-2: #f4fbf7;
  --brand-3: #e6f7ed;
  --brand-4: #d6f1e3;
  --brand-5: #c3e9d7;
  --brand-6: #acdec8;
  --brand-7: #8bceb6;
  --brand-8: #56ba9f;
  --brand-9: #29a383;
  --brand-10: #26997b;
  --brand-11: #208368;
  --brand-12: #1d3b31;

  /* Special colors */
  --checkbox-border: var(--neutral-7);
  --popover-background: var(--neutral-1);
}

body[data-theme="dark"] {
  /* Dark mode colors */
  --neutral-1: #101211;
  --neutral-2: #171918;
  --neutral-3: #202221;
  --neutral-4: #272a29;
  --neutral-5: #2e3130;
  --neutral-6: #373b39;
  --neutral-7: #444947;
  --neutral-8: #5b625f;
  --neutral-9: #63706b;
  --neutral-10: #717d79;
  --neutral-11: #adb5b2;
  --neutral-12: #eceeed;
  --brand-1: #0d1512;
  --brand-2: #121c18;
  --brand-3: #0f2e22;
  --brand-4: #0b3b2c;
  --brand-5: #114837;
  --brand-6: #1b5745;
  --brand-7: #246854;
  --brand-8: #2a7e68;
  --brand-9: #29a383;
  --brand-10: #27b08b;
  --brand-11: #1fd8a4;
  --brand-12: #adf0d4;

  /* Special dark mode colors */
  --checkbox-border: var(--neutral-8);
  --popover-background: var(--neutral-3);
}

/* Basic styles */
body {
  margin: 0;
  background-color: var(--neutral-1);
  color: var(--neutral-12);
  font-family: var(--base-font);
  line-height: 1.5;
  font-weight: var(--font-weight-normal);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  overflow: hidden;
}

#root {
  height: 100vh;
  height: 100dvh;
  max-height: -webkit-fill-available;
  width: 100vw;
  min-width: 320px;
  overflow: auto;
  position: relative;
}

p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

h1 {
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

h3 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

a {
  text-decoration: underline;
  color: inherit;
  outline: none;
}

a:focus-visible {
  outline: 2px solid var(--neutral-12);
}

input {
  font-family: var(--base-font);
  font-size: var(--font-size-x-small);
  line-height: 1;
}

button {
  all: unset;
  font-family: var(--base-font);
  font-size: var(--font-size-x-small);
  font-weight: var(--font-weight-normal);
  cursor: pointer;
  line-height: 1;
}

button:focus-visible {
  outline: 2px solid var(--neutral-12);
}

@media only screen and (max-width: 960px) {
  h1 {
    font-size: var(--font-size-large);
  }

  h2 {
    font-size: var(--font-size-medium);
  }
}
