.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 2px;
}

.clearButton.step1 {
  color: var(--neutral-1);
}

.clearButton.step12 {
  color: var(--neutral-12);
}

.clearButton:hover {
  opacity: 0.7;
}
